<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width" />
    <meta property="fb:admins" content="100007664715229"/>
    <meta property="fb:admins" content="ben.franklin.96387189"/>
    <meta property="fb:admins" content="linda.franklin.503"/>
    <script type="text/javascript">
      if (window.innerWidth < 500) {
      // Phone
      document.querySelector("meta[name=viewport]").setAttribute('content', 'width=480');
    }
    else if (window.innerWidth < 650) {
      // Tablet
      document.querySelector("meta[name=viewport]").setAttribute('content', 'width=670');
      }
    </script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/clicker.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/freeuniversal" rel="stylesheet" type="text/css"/>
    <title>Hot Pink Cat - {{ page.title }}</title>
  </head>

  <body>
    <div id="container">
        <header>
      <div id="nav" class="menu-bar clearfix">

<div class="menu-full"><div class="menu-part menu-part-1"><div class="level-1-button action menu-secondary">
<a href="index.html">Hot Pink Cat</a>
        </div><div class="level-2-button action menu" id="tours"> 
  <ul class="no-js">
    <li>
{% if page.type == "tip" %}
      <a href="#">Tours</a>
{% else %}
      <a href="#">{{ page.this-button }}</a>
{% endif %}
      <ul>
        {% for post in site.posts reversed %}
{% if post.type == "tour" %}
          <li>
            <a href="{{ post.url | replace_first:'/','' }}">{{ post.this-button }}</a>
          </li>
{% endif %}
        {% endfor %}
      </ul>
    </li>
  </ul></div></div><div class="menu-part menu-part-2"><div class="action-menu-text action">
704-543-1972
        </div>{% if page.type == "tour" %}<div class="action action-button menu-secondary"><a href="#book-now">Book Now</a></div>{% endif %}<div class="level-2-button action menu2" id="tips">
  <ul class="no-js">
    <li>
{% if page.type == "tip" %}
      <a href="#">{{ page.this-button }}</a>
{% else %}
      <a href="#">Blog</a>
{% endif %}
      <ul>
        {% for post in site.posts %}
{% if post.type == "tip" %}
          <li>
            <a href="{{ post.url | replace_first:'/','' }}">{{ post.title }}</a>
          </li>
{% endif %}
        {% endfor %}
      </ul>
    </li>
  </ul>
</div>
</div></div></div>
        </header>
<div class="top-spacer">
</div>
      <div class="inner">

{% if page.type == "tip" %}
<div class="menu-spacer"></div>
<div class="main-content">
{% endif %}

        <section id="main_content">
{% if page.type == "tip" %}
<header>
<h1>
{{ page.title }}
</h1>
</header>
{% endif %}

{{ content }}
        </section>
{% if page.type == "tip" %}
</div>
{% endif %}
<div id="fb-root"></div>
<div class="fb-comments on-white" order_by="reverse_time" data-href="{% if site.github.url %}{{site.github.url}}{{ page.url }}{% else %}http://hotpinkcat.com{{page.url}}{% endif %}" data-numposts="5" data-colorscheme="light"></div>

<footer class="on-white">
Content available under a <a href="//creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a> unless otherwise noted or copyrighted, such as in the captions.
</footer>

<div class="action inline-action-button scroll-down">
Scroll down<br>
for more</div>

      </div>
    </div>


<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-52966805-1");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>
<script>
$(function () {
  $('.menu > ul').toggleClass('no-js js');
  $('.menu .js ul').hide();
  $('.menu .js').click(function(e) {
    $('.menu .js ul').slideToggle(200);
    $('.drop-down').toggleClass('active');
    e.stopPropagation();
  });
  $(document).click(function() {
    if ($('.menu .js ul').is(':visible')) {
      $('.menu .js ul', this).slideUp();
      $('.drop-down').removeClass('active');
    }
  });

  $('.menu2 > ul').toggleClass('no-js js');
  $('.menu2 .js ul').hide();
  $('.menu2 .js').click(function(e) {
    $('.menu2 .js ul').slideToggle(200);
    $('.drop-down').toggleClass('active');
    e.stopPropagation();
  });
  $(document).click(function() {
    if ($('.menu2 .js ul').is(':visible')) {
      $('.menu2 .js ul', this).slideUp();
      $('.drop-down').removeClass('active');
    }
  });
});

$(window).scroll(function() {
    if ($(window).scrollTop() > 200 ) {
        $('.scroll-down').fadeOut('slow');
    } else {
        $('.scroll-down').fadeIn('slow')
    }
});
</script>
  </body>
</html>
